html, body {
  background-color: #2b2b2b;
  color: #e6e6e6;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 16px;
}

a { color: #8ab4f8; }

a:visited { color: #c58af9; }

a:hover { color: #a3c3ff; }

table {
  border-collapse: collapse;
  background-color: #353535;
  color: #e6e6e6;
}

table, th, td {
  border: 1px solid #555;
}

th {
  background-color: #3a3a3a;
}

tr:nth-child(even) {
  background-color: #303030;
}

hr {
  border: 0;
  border-top: 1px solid #555;
}

code, pre {
  background-color: #3a3a3a;
  color: #e6e6e6;
}

img {
  background-color: #2b2b2b;
  border: 1px solid #555;
  padding: 4px;
}
